@import url('https://fonts.googleapis.com/css?family=Cedarville+Cursive|Parisienne');
body, html {
    font-family: Helvetica;
    font-weight: lighter;
}

.order-shopping-bag {
    position: sticky !important;
    position: -webkit-sticky !important;
    top: 0 !important;
}

h1.mylovelyhome{
    font-family: "Cedarville Cursive";
    text-align: center;
    position: relative;
    font-size: 3em;
    margin-bottom: -18px;
}

.mylovelyhome a, .mylovelyhome a {
    text-decoration: none;
    color: black;
}

#header li, #footer li {
    list-style: none;
    display: inline;
    padding-right: 10px;
    font-family: Helvetica;
}

#header li a, #footer li a {
    text-decoration: none;
    color: black;
    letter-spacing: 0.3em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

#header li a:hover, #footer li a:hover {
    color: #202020;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.Oberueberschirft {
    font-family: Helvetica;
    font-weight: lighter;
    font-size: 2em;
    letter-spacing: 0.3em;
}

IMG.startseitenbild {
    width: 100%;
    height: auto;
    margin: 30px 0 30px 0;
}

IMG.footer {
    display: block;
    margin: 10px auto;
}

IMG.footer:hover {
    color: #202020;
    border-bottom: 1px solid rgba(0,0,0,0.3);
}

.theteamleft {
    width: 47.5%;
    height: auto;
    clear: left;
    display:block;
    margin: 10px 5px 10px 5px;
}

 .theteamright {
     width: 47.5%;
     height: auto;
     clear: right;
 }
 .box {
     width: auto;
     height: auto;
     background-color: #517a73
 }
 footer .social-media {
     display: flex;

 }

.img-80 {
    width: 79% !important; /*View Width*/
    display: block;
    margin-left: auto;
    margin-right: auto
}

figcaption {
    text-align: center;
    font-size: large;
    background-color: #9cbab4;
    font-family: Lato;
    font-weight: lighter;
}

 .card h5 {
     color: black;
 }

 .new-release a:hover {
     text-decoration: none;
 }

 .überschriftenFooter {
     background-color: #9cbab4 ;
     margin-bottom: 20px;
     font-family: Lato;
     font-weight: lighter;
     text-transform: uppercase;
 }

 .teamtext {
     text-align:center;
     font-size: 20px;
 }

 .icon {
     width:20px;
     height: 20px;
     margin: 1em;
 }

 #product-details h1 {
     padding: 10px;
     background-color: #9cbab4;
 }

 .btn-primary {
     border-color: #9cbab4;
     color: black;
     background-color: #9cbab4;
 }

.btn-primary:hover {
    border-color: grey;
    color: black;
    background-color: grey;
}

 .category-header {
     display: flex;
     justify-content: center;
     align-items: center;
     height: 300px;
     padding: 15px;
     background: url("../images/kategoriebild.jpg") no-repeat center center;
     background-size: cover;
 }

.overlay div {
    color: white;
    font-size: 20px;
    text-align: center;
    align-self: center;
}

.overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    display: flex;
    justify-content: center;
    background-color: rgba(81, 122, 115, 0.8)
    
}

.img-container:hover .overlay {
    opacity: 1;
}

.carousel-control-next, .carousel-control-prev {
    opacity: 0.5;
}

.carousel-control-next:hover, .carousel-control-prev:hover {
    opacity: 0.8;
}

.carousel-control-next {
    background: linear-gradient(to left, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.carousel-control-prev {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}