@import url('https://fonts.googleapis.com/css?family=Cedarville+Cursive|Parisienne');
body, html {
    font-family: Helvetica;
    font-weight: lighter;
}

.order-shopping-bag {
    position: sticky !important;
    position: -webkit-sticky !important;
    top: 0 !important;
}

h1.mylovelyhome{
    font-family: "Cedarville Cursive";
    text-align: center;
    position: relative;
    font-size: 3em;
    margin-bottom: -18px;
}

.mylovelyhome a, .mylovelyhome a {
    text-decoration: none;
    color: black;
}

#header li, #footer li {
    list-style: none;
    display: inline;
    padding-right: 10px;
    font-family: Helvetica;
}

#header li a, #footer li a {
    text-decoration: none;
    color: black;
    letter-spacing: 0.3em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

#header li a:hover, #footer li a:hover {
    color: #202020;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.Oberueberschirft {
    font-family: Helvetica;
    font-weight: lighter;
    text-align: center;
    position: relative;
    text-indent: 2em;
    font-size: 2em;
    letter-spacing: 0.3em;
}

IMG.startseitenbild {
    width: 100%;
    height: auto;
    margin: 30px 0 30px 0;
}

.container {
    width: 1100px;
    display: block;
    height: auto;
    margin: 0 auto;
}

IMG.footer {
    display: block;
    margin: 10px auto;
}

IMG.footer:hover {
    color: #202020;
    border-bottom: 1px solid rgba(0,0,0,0.3);
}

.theteamleft {
    width: 47.5%;
    height: auto;
    clear: left;
    display:block;
    margin: 10px 5px 10px 5px;
}

 .theteamright {
     width: 47.5%;
     height: auto;
     clear: right;
 }
 .box {
     width: auto;
     height: auto;
     background-color: #517a73
 }
 footer .social-media {
     display: flex;

 }

 .img-100 {
     width: 100% !important; /*View Width*/
 }