@import url('https://fonts.googleapis.com/css?family=Cedarville+Cursive|Parisienne');
body, html {
    font-family: Helvetica;
    font-weight: lighter;
}
h1.mylovelyhome{
    font-family: "Cedarville Cursive";
    text-align: center;
    position: relative;
    font-size: 3em;
    margin-bottom: -18px;

}
li{
    list-style: none;
    display: inline;
    padding-right: 10px;
    font-family: Helvetica;
}
ul.mainnavigation {
    text-align: center;
}
li a {
    text-decoration: none;
    color: black;
    letter-spacing: 0.3em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}
li a:hover {
    color: #202020;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
.Oberueberschirft {
    font-family: Helvetica;
    font-weight: lighter;
    text-align: center;
    position: relative;
    text-indent: 2em;
    font-size: 2em;
    letter-spacing: 0.3em;
}
IMG.startseitenbild {
    width: 100%;
    height: auto;
    margin: 30px 0 30px 0;
}

.container {
    width: 1100px;
    display: block;
    height: auto;
    margin: 0 auto;
}
.newarrivals {
    width: 24.5%;
    height: auto;
    margin: 30px 0 30px 0;
}
IMG.footer {
    margin: 10px 0 10px 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
IMG.footer:hover {
    color: #202020;
    border-bottom: 1px solid rgba(0,0,0,0.3);
}
.theteamleft {
    width: 47.5%;
    height: auto;
    clear: left;
    display:block;
    margin: 10px 5px 10px 5px;
}
 .theteamright {
     width: 47.5%;
     height: auto;
     clear: right;
 }
 .box {
     width: auto;
     height: auto;
     background-color: #517a73
 }